{
  "presets": [
    [ "env", {
      "target": {
        "node": "8"
      }
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": true,
      "regenerator": true
    }],
    "transform-object-rest-spread"
  ]
}
